{% extends 'base.html' %} 
{% block content %}

{% load socialaccount %}
{% providers_media_js %}

    <br>
    <br>
<h1 style="text-align: center">Login</h1>

    <br>
    <br>
    <br>
    <br>
    <br>

<form method="POST" action="{%url 'login' %}">
    {% csrf_token %}

    Username:
    <br>
    <br>
    <input name="username" type="text" value="">
    <br>
    Password:
    <br>
    <br>
    <input name="password" type="password" value="">
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <input type="submit" value="Login">
</form>

<br>
<a href="{% url 'signup' %}">
    <button type="button" id='btn_signup'>
        Sign up
    </button>
</a>
<br>
<br>
<a href="{% provider_login_url 'naver' %}">
    <button type="button" id='btn_login_naver'>
        네이버로 로그인하기
    </button>
</a>



{% endblock %}